// Variables
@import 'variables';
// Bootstrap values
@import "~bootstrap/scss/bootstrap";

body {
    background-color: #121619;
}

.form-control {
    color:white!important;
    background-color: #343a3f !important;
    border: solid 1px #4b545b !important;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
